button {
    background: rgb(12, 82, 129);
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}